.select__wrapper {
  position: relative;
}

.select__control {
  min-height: var(--hwc-select-height, 52px);
  background: var(--hwc-select-background, white);
  border-width: var(--hwc-select-border-width, 2px);
  border-style: var(--hwc-select-border-style, solid);
  border-color: var(--hwc-select-border-color, var(--hwc-grey-lighten-2));
  border-radius: var(--hwc-select-border-radius, 0.625rem);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  margin-bottom: var(--hwc-select-margin-bottom, 0.625rem);
  margin-top: var(--hwc-select-margin-top, .5rem);
  font-family: var(--hwc-select-font-family, 'Poppins', sans-serif);
  font-size: var(--hwc-select-font-size, 1rem);
  transition: var(--hwc-select-transition, 250ms ease all);
}

:host([aria-expanded="true"]) .select__control {
  outline: none;
  border-color: var(--hwc-select-primary-color, var(--hwc-blue-darken-2));
}

.select__label {
  font-family: var(--hwc-select-font-family, 'Poppins', sans-serif);
  font-size: var(--hwc-select-label-font-size, var(--hwc-select-font-size, 1rem));
  color: var(--hwc-select-label-text-color, var(--hwc-select-primary-color, var(--hwc-grey-darken-3)));
  transition: var(--hwc-select-transition, 250ms ease all);
  font-weight: var(--hwc-select-label-font-weight, 600);
}

:host([aria-expanded="true"]) .select__label {
  color: var(--hwc-select-primary-color, var(--hwc-blue-darken-2));
}

/* Details */
.select__details {
  font-size: var(--hwc-select-details-font-size, var(--hwc-select-font-size, 1rem));
  font-family: var(--hwc-select-font-family, 'Poppins', sans-serif);
  color: var(--hwc-select-details-text-color, var(--hwc-text-field-color, var(--hwc-grey-lighten-1)));
}

/* Disabled */
:host([disabled]) {
  cursor: not-allowed;
  user-select: none;
  opacity: 0.5;
}

/* Options */
.select__options {
  position: absolute;
  display: none;
  width: 100%;
  right: 0;
  left: 0;
  z-index: var(--hwc-select-z-index, 10);
  padding: var(--hwc-select-options-padding, 0.625rem);
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 11px rgba(0, 0, 0, 0.18);
  border-radius: var(--hwc-select-border-radius, 0.625rem);
}

.select-options__wrapper {
  margin: 0;
  padding: 0;
  max-height: var(--hwc-select-options-max-height, 200px);
  overflow-y: auto;
}

:host([aria-expanded='true']) .select__options {
  display: block;
}

.select-suggestions__item {
  list-style: none;
  padding: var(--hwc-select-suggestions-item-padding, 0.625rem);
  position: relative;
  border-radius: var(--hwc-select-border-radius, 0.625rem);
}

.select-suggestion__button {
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0;
  cursor: pointer;
  line-height: 1.5;
  font-family: var(--hwc-select-font-family, 'Poppins', sans-serif);
  font-size: var(--hwc-select-font-size, 1rem);
}

:host([selected]) .select-suggestions__item::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 0, 0, .05);
  border-radius: var(--hwc-select-border-radius, 0.625rem);
  cursor: pointer;
}

/* Errors */
:host([aria-invalid="true"]) .select__control {
  border-color: var(--hwc-select-error-color, var(--hwc-red-darken-2));
}

:host([aria-invalid="true"]) .select__label {
  color: var(--hwc-select-error-color, var(--hwc-red-darken-2));
}

:host([aria-invalid="true"]) .select__details {
  color: var(--hwc-select-error-color, var(--hwc-red-darken-2));
}
