* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:host {
  display: inline-block;
  position: relative;
}

:host([appearance='circle']) .avatar {
  border-radius: 50%;
}

:host([appearance='square']) .avatar {
  border-radius: 5px;
}

:host([size="small"]) .avatar {
  height: 32px;
  width: 32px;
}

:host([size="small"]) .avatar__text {
  font-size: 1rem;
}

:host([size="large"]) .avatar {
  height: 64px;
  width: 64px;
}

:host([size="large"]) .avatar__text {
  font-size: 1.8rem;
}

.avatar {
  height: var(--hwc-avatar-size, 50px);
  width: var(--hwc-avatar-size, 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--hwc-avatar-color, var(--hwc-blue-darken-2));
}

.avatar__text {
  color: var(--hwc-avatar-text-color, #fff);
  font-size: var(--hwc-avatar-font-size, 1.4rem);
  font-weight: var(--hwc-avatar-font-weight, 700);
  text-transform: var(--hwc-avatar-text-transform, uppercase);
  letter-spacing: 1px;
  font-family: var(--hwc-avatar-font-family, 'Nunito Sans', sans-serif);
}

.avatar__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}
