:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: inline-block;

  --hwc-ripple-bg: currentColor;
  --hwc-ripple-opacity: 0.35;
  --hwc-ripple-animation-duration: 700ms;
}

.ripple {
  position: absolute;
  content: "";
  border-radius: 50%;
  transform: scale(0);
  background: var(--hwc-ripple-bg);
  opacity: var(--hwc-ripple-opacity);
  pointer-events: none;
  animation-name: rippleAnimation;
  animation-timing-function: linear;
  animation-duration: var(--hwc-ripple-animation-duration);
  height: 100%;
  width: 100%;
}

@keyframes rippleAnimation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
