* {
  box-sizing: border-box;
}

.dialog {
  border: none;
  border-radius: calc(5px * 3.74);
  width: var(--hwc-dialog-width, 400px);
  padding: var(--hwc-dialog-padding, 1.5rem);
  background: var(--hwc-dialog-background, #ffffff);
  box-shadow: var(--hwc-dialog-box-shadow, 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25));
}

.dialog::backdrop {
  backdrop-filter: blur(5px);
  background-color: var(--hwc-dialog-backdrop-background-color, rgba(0, 0, 0, 0.2));
}

/* Add animation when open dialog */
.dialog[open] {
  animation: dialog-enter 200ms ease-out;
}

@keyframes dialog-enter {
  from {
    opacity: 0;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
