* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

:host {
  display: block;

  --hwc-text-field-focused-color: unset;

  /* Background */
  --hwc-text-field-bg: unset;
  --hwc-text-field-color: unset;

  /* Fonts */
  --hwc-text-field-font-family: Poppins, sans-serif;

  --hwc-text-field-input-text-color: unset;
  --hwc-text-field-input-font-size: 16px;

  --hwc-text-field-label-font-size: 14px;
  --hwc-text-field-label-text-color: unset;

  --hwc-text-field-details-font-size: 12px;
  --hwc-text-field-details-text-color: unset;

  /* Paddings */
  --hwc-text-field-padding: 12px 15px;

  /* Margins */
  --hwc-text-field-prepend-inner-margin: 0px 10px 0px 0px;
  --hwc-text-field-append-inner-margin: 0px 0px 0px 10px;

  /* Borders */
  --hwc-text-field-border-color: unset;
  --hwc-text-field-border-width: 2px;
  --hwc-text-field-border-style: solid;
  --hwc-text-field-border-radius: 10px;

  /* Animations */
  --hwc-text-field-transition: 200ms all ease;
}

.text-field__control {
  padding: var(--hwc-text-field-padding);
  border-width: var(--hwc-text-field-border-width);
  border-color: var(--hwc-text-field-border-color, var(--hwc-text-field-color, var(--hwc-grey-darken-1)));
  border-style: var(--hwc-text-field-border-style);
  border-radius: var(--hwc-text-field-border-radius);
  font-family: var(--hwc-text-field-font-family);
  background: var(--hwc-text-field-bg);
  transition: var(--hwc-text-field-transition);
  margin-top: 3px;
  display: flex;
  align-items: center;
  cursor: text;
}

.text-field__label {
  font-family: var(--hwc-text-field-font-family);
  font-size: var(--hwc-text-field-label-font-size);
  color: var(--hwc-text-field-label-text-color, var(--hwc-text-field-color, var(--hwc-grey-darken-1)));
  transition: var(--hwc-text-field-transition);
}

.text-field__input {
  border: none;
  outline: none;
  font-size: var(--hwc-text-field-input-font-size);
  color: var(--hwc-text-field-input-text-color);
  font-family: var(--hwc-text-field-font-family);
  caret-color: var(--hwc-text-field-caret-color);
  background: transparent;
  width: 100%;
}

.text-field__input::placeholder {
  color: var(--hwc-text-field-placeholder, unset);
}

.text-field__details {
  margin-top: 5px;
  font-size: var(--hwc-text-field-details-font-size);
  font-family: var(--hwc-text-field-font-family);
  color: var(--hwc-text-field-details-text-color, var(--hwc-text-field-color, var(--hwc-grey-darken-1)));
}

.prepend-inner__control,
.append-inner__control {
  color: var(--hwc-text-field-inner-color, var(--hwc-text-field-color, var(--hwc-grey-darken-1)));
}

.prepend-inner__control {
  margin: var(--hwc-text-field-prepend-inner-margin);
}

.append-inner__control {
  margin: var(--hwc-text-field-append-inner-margin);
}

/* Focus */
.text-field:focus-within {
  --hwc-text-field-border-color: var(--hwc-text-field-focused-color, var(--hwc-blue-darken-2));
  --hwc-text-field-label-text-color: var(--hwc-text-field-focused-color, var(--hwc-blue-darken-2));
  --hwc-text-field-caret-color: var(--hwc-text-field-focused-color, var(--hwc-blue-darken-2));
  --hwc-text-field-inner-color: var(--hwc-text-field-focused-color, var(--hwc-blue-darken-2));
}

/* Appearance: Underline */
:host([appearance="underline"]) {
  --hwc-text-field-padding: 0px 0px 5px 0px;
}

:host([appearance="underline"]) .text-field__control {
  border: none;
  border-radius: 0;
  border-bottom-width: var(--hwc-text-field-border-width);
  border-bottom-color: var(--hwc-text-field-border-color, var(--hwc-text-field-color, var(--hwc-grey-darken-1)));
  border-bottom-style: var(--hwc-text-field-border-style);
  padding: var(--hwc-text-field-padding);
  margin: 0;
}

/* Erros */
.text-field.error {
  --hwc-text-field-error-color: var(--hwc-red-darken-2);

  --hwc-text-field-border-color: var(--hwc-text-field-error-color);
  --hwc-text-field-caret-color: var(--hwc-text-field-error-color);
  --hwc-text-field-label-text-color: var(--hwc-text-field-error-color);
  --hwc-text-field-details-text-color: var(--hwc-text-field-error-color);
  --hwc-text-field-inner-color: var(--hwc-text-field-error-color);
}
