* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

:host {
  display: inline-flex;

  /* Fonts */
  --hwc-text-field-font-family: Poppins, sans-serif;
  --hwc-text-field-font-size: 16px;

  --hwc-text-field-label-font-size: 14px;
  --hwc-text-field-label-text-color: #808080;

  /* Paddings */
  --hwc-text-field-padding: 12px 15px;

  /* Borders */
  --hwc-text-field-border-color: #808080;
  --hwc-text-field-border-width: 2px;
  --hwc-text-field-border-style: solid;
  --hwc-text-field-border-radius: 10px;
}

.text-field__control {
  padding: var(--hwc-text-field-padding);
  border-width: var(--hwc-text-field-border-width);
  border-color: var(--hwc-text-field-border-color);
  border-style: var(--hwc-text-field-border-style);
  border-radius: var(--hwc-text-field-border-radius);
  cursor: text;
}

.text-field__label {
  font-family: var(--hwc-text-field-font-family);
  font-size: var(--hwc-text-field-label-font-size);
  color: var(--hwc-text-field-label-text-color);
}

.text-field__input {
  border: none;
  outline: none;
  font-size: var(--hwc-text-field-font-size);
  font-family: var(--hwc-text-field-font-family);
  background: transparent;
}
