* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

:host {
  /* Fonts */
  --hwc-button-font-family: 'Poppins', sans-serif;
  --hwc-button-font-size: 15px;

  /* Padding */
  --hwc-button-padding: 10px 20px;

  /* Borders */
  --hwc-button-border-radius: 8px;
  --hwc-button-border-width: 0px;
  --hwc-button-border-color: var(--blue-darken-2);
  --hwc-button-border-style: solid;

  /* Background & colors */
  --hwc-button-bg: var(--blue-darken-2);
  --hwc-button-color: white;
  --hwc-button-hover-bg-color: rgba(25, 118, 210, 0.1);

  /* Additionals */
  --hwc-button-cursor: pointer;
}

/* Base styles */
.button {
  border-width: var(--hwc-button-border-width);
  border-color: var(--hwc-button-border-color);
  border-radius: var(--hwc-button-border-radius);
  background: var(--hwc-button-bg);
  color: var(--hwc-button-color);
  font-family: var(--hwc-button-font-family);
  font-size: var(--hwc-button-font-size);
  cursor: var(--hwc-button-cursor);
  transition: 250ms all ease;
}

.button__wrapper {
  display: flex;
  align-items: center;
  padding: var(--hwc-button-padding);
}

.button:hover {
  opacity: 0.90;
}

/* Uppercase, Lowercase & Capitalize */
:host([uppercase]) .button {
  text-transform: uppercase;
}

:host([lowercase]) .button {
  text-transform: lowercase;
}

:host([capitalize]) .button {
  text-transform: capitalize;
}

/* Rounded */
:host([rounded]) .button {
  border-radius: 50rem;
}

/* Fullwidth */
:host([fullwidth]) .button {
  width: 100%;
}

:host([fullwidth]) .button__wrapper {
  justify-content: center;
}

/* Appearance: Outlined */
:host([appearance="outlined"]) {
  --hwc-button-border-width: 2px;

  --hwc-button-border-color: var(--hwc-button-bg);
  --hwc-button-color: var(--hwc-button-bg);

  --hwc-button-padding: 8px 18px;
}

:host([appearance="outlined"]) .button {
  background: transparent;
  border-width: var(--hwc-button-border-width);
  border-color: var(--hwc-button-border-color);
  border-style: var(--hwc-button-border-style);
  color: var(--hwc-button-color);
}

:host([appearance="outlined"]) .button:hover {
  background-color: var(--hwc-button-hover-bg-color);
}

/* Appearance: Text */
:host([appearance="text"]) .button {
  --hwc-button-color: var(--hwc-button-bg);
}

:host([appearance="text"]) .button {
  background-color: transparent;
  color: var(--hwc-button-color);
}

:host([appearance="text"]) .button:hover {
  background-color: var(--hwc-button-hover-bg-color);
  color: var(--hwc-button-color);
}
