* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

:host {
  /* Fonts */
  --button-font-family: 'Poppins', sans-serif;
  --button-font-size: 15px;

  /* Padding */
  --button-padding: 10px 20px;

  /* Borders */
  --button-border-radius: 8px;
  --button-border-width: 0px;
  --button-border-color: var(--blue-darken-2);
  --button-border-style: solid;

  /* Background & colors */
  --button-background-color: var(--blue-darken-2);
  --button-color: white;

  /* Addtionals */
  --button-cursor: pointer;
}

/* Base styles */
.button {
  border-width: var(--button-border-width);
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  color: var(--button-color);
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  cursor: var(--button-cursor);
}

.button__wrapper {
  display: flex;
  align-items: center;
  padding: var(--button-padding);
}

/* Uppercase, Lowercase & Capitalize */
:host([uppercase]) .button {
  text-transform: uppercase;
}

:host([lowercase]) .button {
  text-transform: lowercase;
}

:host([capitalize]) .button {
  text-transform: capitalize;
}

/* Appearance: Outlined */
:host([appearance="outlined"]) {
  --button-border-width: 2px;

  --button-border-color: var(--button-background-color);
  --button-color: var(--button-background-color);

  --button-padding: 8px 18px;
}

:host([appearance="outlined"]) .button {
  background-color: transparent;
  border-width: var(--button-border-width);
  border-color: var(--button-border-color);
  border-style: var(--button-border-style);
  color: var(--button-color);
}
