body.dark {
  background-color: #333;

  /* Buttons */
  --hwc-text-field-bg: #333;
  --hwc-text-field-color: #fff;
  --hwc-text-field-input-text-color: #fff;
  
  /* Cards */
  --hwc-card-bg: #505050;
  --hwc-card-text-color: white;
}
