* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:host {
  display: inline-block;

  /* Colors */
  --hwc-alert-color: var(--hwc-blue-darken-1);
  --hwc-alert-bg: var(--hwc-alert-color);
  --hwc-alert-text-color: white;

  /* Padding */
  --hwc-alert-padding: 16px;

  /* Fonts */
  --hwc-alert-font-family: 'Poppins', sans-serif;
  --hwc-alert-font-size: 16px;

  /* Borders */
  --hwc-alert-border-radius: 8px;
}

.alert {
  position: relative;
  background: var(--hwc-alert-bg);
  color: var(--hwc-alert-text-color);
  font-family: var(--hwc-alert-font-family);
  font-size: var(--hwc-alert-font-size);
  border-radius: var(--hwc-alert-border-radius);
}

.alert__wrapper {
  display: flex;
  align-items: center;
  padding: var(--hwc-alert-padding);
}

.alert__icon {
  display: inline-flex;
}

.alert__icon svg {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

/* Types */
:host([type="info"]) {
  --hwc-alert-color: var(--hwc-blue-darken-1);
}

:host([type="success"]) {
  --hwc-alert-color: var(--hwc-green-darken-1);
}

:host([type="warning"]) {
  --hwc-alert-color: var(--hwc-orange-darken-1);
}

:host([type="error"]) {
  --hwc-alert-color: var(--hwc-red-darken-1);
}

/* Appearances */
:host([appearance="text"]) {
  --hwc-alert-opacity: .15;
  --hwc-alert-text-color: var(--hwc-alert-color);
}

:host([appearance="text"]) .alert {
  background: transparent;
}

:host([appearance="text"]) .alert::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--hwc-alert-bg);
  border-radius: var(--hwc-alert-border-radius);
  opacity: var(--hwc-alert-opacity);
  z-index: -1;
}
